 <div id="tables" class="row">
            <div id="uber" class="col-sm-5 col-xs-offset-1">
                <%= image_tag "Uber_Logobit_Digital_white.png" %>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ride Type</th>
                            <th>Ride Time</th>
                            <th><%= image_tag "Uber_Surge_Icon_78px.png" %> Surge Multiplier</th>
                            <th>Total Estimate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <% if @start.nil? != true && @endloc.nil? != true %>    
                            <% @uber_output.each do |object| %>
                                <td><%= object["localized_display_name"] %></td>
                                <td><%= (object["duration"]/60).to_s + " mins" %></td>
                                <td><%= object["surge_multiplier"] %>
                                <td><strong><%= object["estimate"] %></strong></td>
                                </td>
                        </tr>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div id="lyft" class="col-sm-5 col-xs-offset-1">
                <%= image_tag "logo_tiny_pink.png" %>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ride Type</th>
                            <th>Ride Time</th>
                            <th>Primetime % <%= image_tag "stache-icon-filled.jpg" %></th>
                            <th>Total Estimate</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <% if @start.nil? != true && @endloc.nil? != true %>
                            <% @lyftHash.each do |x| %>
                            <td><%= x["display_name"] %></td>
                                <td><%= (x["estimated_duration_seconds"]/60).to_s + " mins" %></td>
                               <td><%= x["primetime_percentage"] %></td>
                               <td><strong>$<%= ((x["estimated_cost_cents_min"]).round) / 100 %> - <%= ((x["estimated_cost_cents_max"]).round) / 100 %></strong></td>
                                
                        </tr>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
</div>
