<h1>Lüft</h1>
<h2>Ride Comparison Engine</h2>

<div id="form">
    <form>
        <input type="text" name="start" placeholder="Start"><br>
        <input type="text" name="end" placeholder="End"><br>
        <input type="submit" value="submit">
    </form>
</div>

<br><br>

<div id="uber">
    <% @uber_output.each do |object| %>
        <strong><%= object["localized_display_name"] %></strong><br>
        Ride Time: <%= (object["duration"]/60).to_s + " minutes" %><br>
        Price Estimate: <%= object["estimate"] %><br>
        Surge Multiplier: <%= object["surge_multiplier"] %><br>
        <br>
    <% end %>
</div>

<br><br>


<% @lyftHash.each do |x| %>
	<strong><u><%= x["ride_type"] %></u></strong><br>
 	Ride Time: <%= x["estimated_duration_seconds"] %><br>
 	Max Cost: <%= x["estimated_cost_cents_max"] %><br>
 	Min Cost: <%= x["estimated_cost_cents_min"] %><br><br>
 	<% end %>
<u><strong>Lyft Line:</strong></u><br>
<% @lyftHash[0].each do |key, value| %>
	<%= "#{key}: #{value}" %><br>
<% end %>
<br><br>
<u><strong>Lyft:</strong></u><br>
<% @lyftHash[1].each do |key, value| %>
	<%= "#{key}: #{value}" %><br>
<% end %>
<br><br>
<u><strong>Lyft Plus:</strong></u><br>
<% @lyftHash[2].each do |key, value| %>
	<%= "#{key}: #{value}" %><br>
<% end %>

