<div id="nav">
    <h1>FairFare</h1>
</div>
<div class="container">
    <div id="row">
        <%= form_tag("/tables", method: "get", remote: true) do %>
           <%= text_field_tag :start, nil, :placeholder => 'Starting Location' %><br>
           <%= text_field_tag :endloc, nil, :placeholder => 'Destination' %><br>
           <%= submit_tag "Find My Fare", :id => 'submit_button' %>
       <% end %>
        <div id="error"><%= flash[:alert] if flash[:alert] %> </div>
    </div>
    <div id="loading">
        <img src="http://blog.teamtreehouse.com/wp-content/uploads/2015/05/InternetSlowdown_Day.gif">
    </div>
    <br>
    <div id="tables"></div>
