<h1>Lüft</h1>
<h2>Ride Comparison Engine</h2>

<form>
    <input type="submit" id="submit">
</form>

<% @lyftHash.each do |x| %>
	<strong><u><%= x["ride_type"] %></u></strong><br>
 	Ride Time: <%= x["estimated_duration_seconds"] %><br>
 	Max Cost: <%= x["estimated_cost_cents_max"] %><br>
 	Min Cost: <%= x["estimated_cost_cents_min"] %><br><br>
 	<% end %>
<u><strong>Lyft Line:</strong></u><br>
<% @lyftHash[0].each do |key, value| %>
	<%= "#{key}: #{value}" %><br>
<% end %>
<br><br>
<u><strong>Lyft:</strong></u><br>
<% @lyftHash[1].each do |key, value| %>
	<%= "#{key}: #{value}" %><br>
<% end %>
<br><br>
<u><strong>Lyft Plus:</strong></u><br>
<% @lyftHash[2].each do |key, value| %>
	<%= "#{key}: #{value}" %><br>
<% end %>
