<h1>Lüft</h1>
<h2>Ride Comparison Engine</h2>

<form>
    <input type="submit" id="submit">
</form>

<%= @obtainToken %>
<br><br>
<%= @lyftToken %>
<br><br>
<%= @lyftRequest %>
<br><br>
<%= @splitLyft1 %>
<br><br>

<%= @lyftData %>
<br><br>
<%= @lyftLinePriceMax %>
<br>

<p id="rides"></p>