<h1>Luber</h1>
<h2>Want a Ride?</h2>
<div class="container">
    <div id="row">
        <form>
            <div id="startAddress">
      <input id="autocomplete" placeholder="Enter Start Address"
             onFocus="geolocate()" type="text"></input>
    </div>
            <div id="endAddress">
      <input id="autocomplete2" placeholder="Enter Destination"
             onFocus="geolocate()" type="text"></input>
    </div>
        </form>
    </div>
    <div class="row">
            <div id="uber" class="col-sm-4 col-sm-offset-1">
                <h3><strong>Uber</strong></h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ride Type</th>
                            <th>Ride Time</th>
                            <th>Price Estimate</th>
                            <th>Surge Multiplier</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <% @uber_output.each do |object| %>
                            <td><%= object["localized_display_name"] %></td>
                            <td><%= (object["duration"]/60).to_s + " minutes" %></td>
                            <td><%= object["estimate"] %></td>
                            <td><%= object["surge_multiplier"] %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div id="lyft" class="col-sm-4 col-sm-offset-2">
                <h3><strong>Lyft</strong></h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ride Type</th>
                            <th>Ride Time</th>
                            <th>Price Estimate</th>
                            <th>Primetime Percentage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <% @lyftHash.each do |x| %>
                            <td><%= x["ride_type"] %></td>
                            <td><%= (x["estimated_duration_seconds"]/60).to_s + " minutes" %></td>
                            <td>$<%= ((x["estimated_cost_cents_min"]).round) / 100 %> - <%= ((x["estimated_cost_cents_max"]).round) / 100 %></td>
                            <td><%= x["primetime_percentage"] %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
    </div>
</div>


<div id="locationField">
      <input id="autocomplete" placeholder="Enter your address"
             onFocus="geolocate()" type="text"></input>
</div>

<%= @lat %>
<%= @lng %>

    <table id="address">
        <tr>
            <td class="label">Street address</td>
            <td class="slimField"><input class="field" disabled="true" id=
            "street_number"></td>
            <td class="wideField" colspan="2"><input class="field" disabled=
            "true" id="route"></td>
        </tr>
        <tr>
            <td class="label">City</td>
            <td class="wideField" colspan="3"><input class="field" disabled=
            "true" id="locality"></td>
        </tr>
        <tr>
            <td class="label">State</td>
            <td class="slimField"><input class="field" disabled="true" id=
            "administrative_area_level_1"></td>
            <td class="label">Zip code</td>
            <td class="wideField"><input class="field" disabled="true" id=
            "postal_code"></td>
        </tr>
        <tr>
            <td class="label">Country</td>
            <td class="wideField" colspan="3"><input class="field" disabled=
            "true" id="country"></td>
        </tr>
    </table>
</body>

</html>