<h1>Luber</h1>
<h2>Want a Ride?</h2>
<div class="container">
    <div id="row">
        <form>
            <input type="text" name="start" placeholder="Start"><br>
            <input type="text" name="end" placeholder="End"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="row">
        <div id="uber" class="col-sm-4 col-sm-offset-1">
            <h3><strong>Uber</strong></h3>
            <% @uber_output.each do |object| %>
                <strong><%= object["localized_display_name"] %></strong><br>
                Ride Time: <%= (object["duration"]/60).to_s + " minutes" %><br>
                Price Estimate: <%= object["estimate"] %><br>
                Surge Multiplier: <%= object["surge_multiplier"] %><br>
                <br>
            <% end %>
        </div>
        <div id="lyft" class="col-sm-4 col-sm-offset-2">
            <h3><strong>Lyft</strong></h3>
            <% @lyftHash.each do |x| %>
                <strong><u><%= x["ride_type"] %></u></strong><br>
                Ride Time: <%= (x["estimated_duration_seconds"]/60).to_s + " minutes" %><br>
                Price Estimate: $<%= ((x["estimated_cost_cents_min"]).round) / 100 %> - $<%= ((x["estimated_cost_cents_max"]).round) / 100 %><br>
                Primetime Percentage: <%= x["primetime_percentage"] %><br><br>
                <% end %>
        </div>
    </div>
</div>
<div id="locationField">
      <input id="autocomplete" placeholder="Enter your address"
             onFocus="geolocate()" type="text"></input>
    </div>

    <table id="address">
      <tr>
        <td class="label">Street address</td>
        <td class="slimField"><input class="field" id="street_number"
              disabled="true"></input></td>
        <td class="wideField" colspan="2"><input class="field" id="route"
              disabled="true"></input></td>
      </tr>
      <tr>
        <td class="label">City</td>
        <td class="wideField" colspan="3"><input class="field" id="locality"
              disabled="true"></input></td>
      </tr>
      <tr>
        <td class="label">State</td>
        <td class="slimField"><input class="field"
              id="administrative_area_level_1" disabled="true"></input></td>
        <td class="label">Zip code</td>
        <td class="wideField"><input class="field" id="postal_code"
              disabled="true"></input></td>
      </tr>
      <tr>
        <td class="label">Country</td>
        <td class="wideField" colspan="3"><input class="field"
              id="country" disabled="true"></input></td>
      </tr>
    </table>

    <script>
      // This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var placeSearch, autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
      };

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
      }

      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzODxENljUqgCljINsi_-jQWfyHbYJH3Q&libraries=places&callback=initAutocomplete"
        async defer></script>
  </body>
</html>