<div id="nav">
    <h1>FairFare</h1>
</div>
<div class="container">
    <div id="row">
        <%= form_tag("/tables", method: "get", remote: true) do %>
           <%= label_tag(:start, "Starting Address:") %>
           <%= text_field_tag(:start) %>
           <%= label_tag(:endloc, "Destination:") %>
           <%= text_field_tag(:endloc) %>
           <%= submit_tag("Submit") %>
       <% end %>
        <div id="error"><%= flash[:alert] if flash[:alert] %> </div>
    </div>
    <div id="loading">
        <img src="http://blog.teamtreehouse.com/wp-content/uploads/2015/05/InternetSlowdown_Day.gif">
    </div>
    <br><br>
    <div id="tables"></div>
