<h1>Luber</h1>
<h2>Want a Ride?</h2>
<div class="container">
    <div id="row">
        <form>
            <div id="startAddress">
      <input id="autocomplete" placeholder="Enter Start Address"
             onFocus="geolocate()" type="text"></input>
    </div>
            <div id="endAddress">
      <input id="autocomplete2" placeholder="Enter Destination"
             onFocus="geolocate()" type="text"></input>
    </div>
        </form>
    </div>
    <div class="row">
        <div id="uber" class="col-sm-4 col-sm-offset-1">
            <h3><strong>Uber</strong></h3>
            <% @uber_output.each do |object| %>
                <strong><%= object["localized_display_name"] %></strong><br>
                Ride Time: <%= (object["duration"]/60).to_s + " minutes" %><br>
                Price Estimate: <%= object["estimate"] %><br>
                Surge Multiplier: <%= object["surge_multiplier"] %><br>
                <br>
            <% end %>
        </div>
        <div id="lyft" class="col-sm-4 col-sm-offset-2">
            <h3><strong>Lyft</strong></h3>

            <% @lyftHash.each do |x| %>
                <strong><u><%= x["ride_type"] %></u></strong><br>
                Ride Time: <%= (x["estimated_duration_seconds"]/60).to_s + " minutes" %><br>
                Price Estimate: $<%= ((x["estimated_cost_cents_min"]).round) / 100 %> - $<%= ((x["estimated_cost_cents_max"]).round) / 100 %><br>
                Primetime Percentage: <%= x["primetime_percentage"] %><br><br>
                <% end %>
        </div>
    </div>
</div>


    <table id="address">
      <tr>
        <td class="label">Street address</td>
        <td class="slimField"><input class="field" id="street_number"
              disabled="true"></input></td>
        <td class="wideField" colspan="2"><input class="field" id="route"
              disabled="true"></input></td>
      </tr>
      <tr>
        <td class="label">City</td>
        <td class="wideField" colspan="3"><input class="field" id="locality"
              disabled="true"></input></td>
      </tr>
      <tr>
        <td class="label">State</td>
        <td class="slimField"><input class="field"
              id="administrative_area_level_1" disabled="true"></input></td>
        <td class="label">Zip code</td>
        <td class="wideField"><input class="field" id="postal_code"
              disabled="true"></input></td>
      </tr>
      <tr>
        <td class="label">Country</td>
        <td class="wideField" colspan="3"><input class="field"
              id="country" disabled="true"></input></td>
      </tr>
    </table>

    
  </body>
</html>